.red {outline: 1px solid red;}

#logo{
  overflow: visible;
}
#logo img{
  height: 4rem;
  width: 4rem;
}
.responsive-nav-social-mobile {
  background: #FFFFFF;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
       -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-left {
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-left li {
  font-size: 2rem;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-left li .fa {
  color: #8a8a8a;
  margin-right: -0.7rem;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-right .menu-icon {
  margin-right: 1rem;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-right .menu-icon::after {
  padding-right: 1.5rem;
  background: #8a8a8a;
  box-shadow: 0 7px 0 #8a8a8a, 0 14px 0 #8a8a8a;
}

.responsive-nav-social {
  padding: 1rem;
  background-color: #FFFFFF;
}

.responsive-nav-social.is-stuck {
  width: 100%;
  box-shadow: 1px 4px 10px -2px rgba(128, 128, 128, 0.68);
}

.responsive-nav-social li:nth-child(n+2) {
  margin-left:1rem;
  padding: 1rem;
  text-align: center;
}

.responsive-nav-social a:nth-child(n+2) {
  border-left: 1px solid black;
  display: inline-block;
}

.responsive-nav-social a:hover {
  color: rgba(236,92,157,1);
  transition: color 0.2s ease-in;
}

@media screen and (max-width: 39.9375em) {
  .responsive-nav-social .menu li a {
    font-size: 1.5rem;
    padding: 1.5rem;
    color: #8a8a8a;
  }
  .responsive-nav-social li {
    border-bottom: 1px solid #8a8a8a;
  }
  .responsive-nav-social li:last-of-type {
    border: 0;
  }
  .responsive-nav-social .responsive-nav-social-left {
    width: 100%;
  }
  .responsive-nav-social .responsive-nav-social-left .menu.vertical a {
    -webkit-justify-content: center;
              -ms-flex-pack: center;
            justify-content: center;
  }
}

.responsive-nav-social .responsive-nav-social-right a {
  padding-right: 0.1rem;
}

.responsive-nav-social i.fa {
  font-size: 1.3rem;
  color: #8a8a8a;
}

.responsive-nav-social i.fa:hover {
  color: #4ec6cd;
  transition: color 0.2s ease-in;
}

.sticky-container {
  width: 100%;
}
