<fieldset class="fieldset applicationform novalidate">
<h3 id="4740654-T" class="wFormTitle">Program Application for M.A in Multimedia concentration Interaction Design</h3>
<p>To start your DEPARTMENT APPLICATION please complete this form. </p>
<p>Please attach a STATEMENT OF PURPOSE to this form</p>
<p>Please attach a CURRICULUM VITAE or RESUME to this form</p>

<form method="post" action="https://csueb.tfaforms.net/responses/processor" class="hintsBelow labelsAbove" id="4740654" role="form" enctype="multipart/form-data" data-abide>

  <div data-abide-error class="alert callout" style="display: none;">
    <p><i class="fi-alert"></i> There are some errors in your form.</p>
  </div>

<input type="hidden" id="tfa_10" name="tfa_10" value="" title="USERID" class="">
<input type="hidden" id="tfa_6" name="tfa_6" value="Graduate Admissions Form" default="Graduate Admissions Form" title="Form Name" class="">
<input type="hidden" id="tfa_27" name="tfa_27" value="" title="contact ID" class="">

<!-- /////////// FIRST NAME //////////////////////-->
<label id="tfa_1-L" class="label preField reqMark" for="tfa_1">First Name</label><br>
<input type="text" id="tfa_1" name="tfa_1" value=""
title="First Name"
placeholder="Augusta Ada"
aria-required="true"
aria-describedby="First Name"
aria-errormessage="Please enter your First Name"
required pattern=""
class="required"
>
<span class="form-error" data-form-error-for="tfa_1"> A first name is required.</span>
<!-- /////////// FIRST NAME //////////////////////-->

<!-- /////////// LAST NAME //////////////////////-->
<label id="tfa_2-L" class="label preField reqMark" for="tfa_2">Last Name</label><br>
<input type="text" id="tfa_2" name="tfa_2" value=""
title="Last Name"
placeholder="Lovelace"
aria-required="true"
aria-describedby="Last Name"
aria-errormessage="Please enter your Last Name"
required pattern=""
class="required"
>
<span class="form-error" data-form-error-for="tfa_2"> A last name is required.</span>
<!-- /////////// LAST NAME //////////////////////-->

<!-- /////////// EMAIL //////////////////////-->
<label id="tfa_3-L" class="label preField reqMark" for="tfa_3">Email</label><br>
<input type="text" id="tfa_3" name="tfa_3" value="" title="Email"
placeholder="babbage@analytical.com"
aria-required="true"
aria-describedby="Last Name"
aria-errormessage="Please enter your Email Address"
required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
class="required"
>
<span class="form-error" data-form-error-for="tfa_3"> A last name is required.</span>
<!-- /////////// EMAIL //////////////////////-->

<!-- /////////// TERM //////////////////////-->
<label id="tfa_13-L" class="label preField reqMark" for="tfa_13">Applying for</label><br>
<select id="tfa_13" name="tfa_13" title="Applying for"
aria-required="true"
aria-describedby="Last Name"
aria-errormessage="You must select a start term"
required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
class="required"
>
<option value="">Please select...</option>
<option value="tfa_14" id="tfa_14" class="">Fall 2019</option>
<option value="tfa_15" id="tfa_15" class="" selected>Fall 2020</option>
<option value="tfa_16" id="tfa_16" class="">Fall 2021</option>
<option value="tfa_17" id="tfa_17" class="">Fall 2022</option>
<option value="tfa_18" id="tfa_18" class="">Fall 2023</option>
<option value="tfa_19" id="tfa_19" class="">Fall 2024</option>
<option value="tfa_20" id="tfa_20" class="">Fall 2025</option>
</select>
<span class="form-error" data-form-error-for="tfa_13"> You must select a start term.</span>
<!-- /////////// TERM //////////////////////-->

<!-- /////////// OPTIONAL STUFF //////////////////////-->
<label id="tfa_12-L" class="label preField " for="tfa_12">Net ID (If applicable)</label><br>
<input type="text" id="tfa_12" name="tfa_12" value="" title="Net ID (If applicable)" class="">

<label id="tfa_21-L" class="label preField " for="tfa_21">CAS ID# (If applicable)</label><br>
<input type="text" id="tfa_21" name="tfa_21" value="" title="CAS ID# (If applicable)" class="">
<!-- /////////// OPTIONAL STUFF //////////////////////-->

<!-- /////////// ATTACHMENTS //////////////////////-->
<div class="htmlSection" id="tfa_5"><div class="htmlContent" id="tfa_5-HTML">
  <p class="subhead">
  To start this application you must attach your
  <br />STATEMENT OF PURPOSE and a
  <br />CURRICULUM VITAE or RESUME to this form.
  <br />Additional attachments, e.g. transcripts/ letters are optional.
  </p>
</div>
<!-- /////////// ATTACHMENTS //////////////////////-->
<div id="tfa_23" class="section group">
<div class="oneField field-container-D" id="tfa_4-D">
  <label id="tfa_4-L" class="label preField reqMark custom-file-upload" for="tfa_4">
  Attach the Current CV / RESUME
  </label>
<div class="inputWrapper">
  <input type="file" id="tfa_4" name="tfa_4" size="" title="Current CV / Resume" class="required inputfile">
</div>
<span class="form-error" data-form-error-for="tfa_4-L"> You must attach a document.</span>
</div>
<!-- /////////// ATTACHMENTS //////////////////////-->
<div class="oneField field-container-D repeat " id="tfa_22-D" data-repeatlabel="Add another file">
  <label id="tfa_22-L" class="label preField reqMark custom-file-upload" for="tfa_22">
  &nbsp;</label>
<div class="inputWrapper">
  <input type="file" id="tfa_22" name="tfa_22" size="" title="Attach another document" class="required inputfile">
</div>
<span class="form-error" data-form-error-for="tfa_4-L"> You must attach a document.</span>
</div>
<!-- /////////// ATTACHMENTS //////////////////////-->

<!-- /////////// PORTFOLIO //////////////////////-->
<label id="tfa_24-L" class="label preField " for="tfa_24">Link to online portfolio</label><br>
<input type="text" id="tfa_24" name="tfa_24" value="" title="Link to online portfolio" class="" placeholder="https://somereallyamazingportfolio.site">
<!-- /////////// PORTFOLIO //////////////////////-->

<label id="tfa_25-L" class="label preField " for="tfa_25">Comments / Questions</label><br>
<div class="inputWrapper"><textarea id="tfa_25" name="tfa_25" title="Comments / Questions" class=""></textarea>

<input type="submit" data-label="Start Application" class="primaryAction button round" id="submit_button" value="Start Application"></div>


<input type="hidden" value="287-24d350bfa27160e260f0aaa57ba8d42e" name="tfa_dbCounters" id="tfa_dbCounters" autocomplete="off">
<input type="hidden" value="4740654" name="tfa_dbFormId" id="tfa_dbFormId">
<input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId">
<input type="hidden" value="88ff68d4f0a06554f40c68510ab87aaf" name="tfa_dbControl" id="tfa_dbControl">
<input type="hidden" value="1577501146" name="tfa_dbTimeStarted" id="tfa_dbTimeStarted" autocomplete="off">
<input type="hidden" value="22" name="tfa_dbVersionId" id="tfa_dbVersionId">
<input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
</form>

<script src='https://csueb.tfaforms.net/js/iframe_message_helper_internal.js?v=2'></script>
</fieldset>
