<div class="grid-x grid-padding-x align-top section">
    <p class="cell small-12 medium-4">The Master of Arts (MA) in Multimedia with a Concentration in Interaction Design is a unique interdisciplinary program that focuses on creating interactive applications and objects as part of a designed user experience.  This unique program provides artists studio and fabrication spaces, courses in emerging methods, contemporary art and theory, an engaged faculty and access to student research grants and mentorship.</p>

    <p class="cell small-12 medium-4">The concentration in Interaction Design emphasizes the creative and technical aspects of current and emerging technologies and their use in creating, controlling, delivering, and presenting compelling content in an interactive form. Plus, it draws from elements in a number of fields including art, computer science, journalism, psychology, and telecommunications.</p>

    <p class="cell small-12 medium-4">This Master's program is a two-year degree program. Most coursework is offered in the evening. During the first year, students develop a theoretical foundation in multimedia technology, enhance their creative skills, and learn to work effectively in teams. During the second year, small teams of students with various backgrounds and talents create innovative, professional-quality interactive multimedia projects. Ideas for group projects can originate from students, faculty, or external sources. Many of CSU Eastbay's student projects have won national and international awards.</p>
 </div>
