<div class="cell small-12 marketing-site-hero">
  <div class="marketing-site-hero-content">
    <h1>Master of Arts in Multimedia with a Concentration in Interaction Design</h1>
    <p class="subheader">Start your journey today</p>
    <%= link_to 'Apply Now', '/apply.html', :class => 'button round alter'%>
  </div>
</div>
