<div class="grid-x grid-margin-x section ">
  <div class="cell small-12 medium-6 ms-content-section ms-top-left thumbnail"></div>
  <div class="cell small-12 medium-6 ms-content-section ms-top-right">
    <div class="ms-content-section-inner">
      <h3 class="">Benefits of the CSU East Bay Graduate Program</h3>
      <p class="subheader text-justify">
        Students enjoy benefits including small student-teacher ratios and a dedicated interdisciplinary faculty. Students have 24-hour access to their own professional-quality production studios, well equipped and maintained. Students alsohave access to a
        full maker-space and industrial fabrication shop with laser cutters,3d-printers, CNC milling machines a bronze foundry, a full metal- and wood shop.</p>

      <p class="subheader text-justify">
        Department events like Game Jams, Hackathons and faculty-led research initiatives give students hands-on experience, enhance their theoretical education and provide research experience, strengthen their team building skills and allows for networking
        with fellow students, faculty, and industry professionals.</p>
      <%= link_to 'Apply Now', '/apply.html', :class => 'button round'%>
    </div>
  </div>

  <div class="cell small-12 medium-6 small-order-2 medium-order-1 ms-content-section ms-bottom-left">
    <div class="ms-content-section-inner">
      <h3 class="">Career Opportunities</h3>
      <p class="subheader text-justify">
        Located in the San Francisco Bay Area, the epicenter of the interactive digital media industry and technological innovation, the CSUEB Multimedia Graduate Program prepares students for successful careers across many growing industries. They work as
        Interaction Designers, Creative Technologists, Entrepreneurs, and User Interface (UI) Designers in top companies like Google, General Electric, Facebook as well as a host of smaller lean startups.</p>
      <p class="subheader text-justify">The Master of Arts in Multimedia with a Concentration in Interaction Design is a STEM Designated (CIP 09.0702) program and qualifies for the STEM OPT extension.</p>
      <%= link_to 'Apply Now', '/apply.html', :class => 'button round'%>
    </div>
  </div>
  <div class="cell small-12 medium-6 small-order-1 medium-order-2 ms-content-section ms-bottom-right thumbnail"></div>
</div>
