<nav class="sticky">
  <div class="grid-container ">
    <div class="grid-x grid-padding-x">
      <div class="cell small-12 ">
        <div class="title-bar" data-responsive-toggle="top-menu" data-hide-for="medium">

          <button class="menu-icon" type="button" data-toggle="top-menu">
            <div class="title-bar-title"></div>
          </div>

          <div class="top-bar " id="top-menu">
            <div class="top-bar-left">
              <ul id="topmenu" class="dropdown vertical medium-horizontal menu" data-dropdown-menu="data-dropdown-menu">
                <li class="menu-text">MA MMIxD</li>
                <ul class="vertical medium-horizontal menu">
                  <%= partial 'menu'%>
                </ul>
              </ul>
            </div>
            <div class="top-bar-right">
              <ul class="menu horizontal show-for-medium">
                <li>
                  <a href="https://www.youtube.com/c/CSUEBMultimediaGraduateProgramHayward">
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/csuebmultimedia/">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/ixdiacsueb/">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
