<div class="grid-x grid-padding-x section ">
  <div class="cell small-12 ">
    <section class="product-feature-section">
      <div class="product-feature-section-outer">
        <h4 class="product-feature-section-headline">Benefits of the CSU East Bay Graduate Program</h4>

        <div class="product-feature-section-inner">

          <div class="product-feature-section-feature top-left">
            <i class="fa fa-clock"></i>
            <div>
              <p class="feature-title">Dedicated Labs</p>
              <p class="feature-desc">24/7 Access to makerspace and computer labs. Thesis Candidates get their own studio space.</p>
            </div>
          </div>

          <div class="product-feature-section-feature top-right">
            <i class="fa fa-award" aria-hidden="true"></i>
            <div>
              <p class="feature-title">Research Support</p>
              <p class="feature-desc">Students can apply for financial support to fund their thesis projects and travel to attend conferences.
                <div class="show-for-medium section">
                  <%= link_to 'Learn more ...', 'https://www.csueastbay.edu/csr/csr-scholars-program/index.html', :class => "button round tiny"%>
                </div>
                <div class="hide-for-medium section">
                  <%= link_to 'Learn more ...', 'https://www.csueastbay.edu/csr/csr-scholars-program/index.html', :class => "button round"%>
                </div>
              </div>
            </div>

            <div class="product-feature-section-feature bottom-left">
              <i class="fa fa-hand-holding-usd"></i>
              <div>
                <p class="feature-title">Low State Tuition</p>
                <p class="feature-desc">The 2019 graduate school tuition & fees are $8,417 for California resident and $17,921 for others.</p>
                <div class="show-for-medium section">
                  <%= link_to 'Learn more ...', 'https://www.csueastbay.edu/financialaid/prospective-students1/cost-of-attendance.html', :class => "button round tiny"%>
                </div>
                <div class="hide-for-medium section">
                  <%= link_to 'Learn more ...', 'https://www.csueastbay.edu/financialaid/prospective-students1/cost-of-attendance.html', :class => "button round"%>
                </div>

              </div>
            </div>

            <div class="product-feature-section-feature bottom-right">
              <i class="fa fa-heart" aria-hidden="true"></i>

              <div>
                <p class="feature-title">Supportive University Culture</p>
                <p class="feature-desc">Cal State East Bay is dedicated to first generation student success, sustainability, diversity and social justice.
                </p>
              </div>
            </div>

          </div>
        </div>
      </section>

    </div>
  </div>
