
<div class="cell">
  <div class="responsive-nav-social-mobile" data-responsive-toggle="responsive-nav-social" data-hide-for="medium">
  <div class="responsive-nav-social-mobile-left">
    <ul class="menu">
      <li>
        <% link_to 'https://multimedia.csueastbay.edu/' do %>
          <%= image_tag 'logo.png' %>
        <% end %>
      <!-- <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> -->
    </ul>
  </div>
  <div class="responsive-nav-social-mobile-right">
    <button class="menu-icon" type="button" data-toggle="responsive-nav-social"></button>
  </div>
</div>

<div data-sticky-container>
  <div class="responsive-nav-social" id="responsive-nav-social" data-sticky data-options="marginTop:0;">
    <div class="cell align-justify align-middle" id="responsive-menu">


      <div class="responsive-nav-social-left " >
        <ul class="menu vertical medium-horizontal">
          <li><a href="#" id="logo"><img src="/images/logo.png" alt=""></a></li>
          <%= partial "menu" %>
        </ul>
      </div>


      <!-- <div class="responsive-nav-social-right hide-for-small-only ">
        <ul class="menu ">
          <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
      </div> -->


    </div>
  </div>
</div>
</div>
